[submodule "airbnb-clone-photo-module"]
	path = airbnb-clone-photo-module
	url = https://github.com/BedandBreakfastClub/airbnb-clone-photo-module
[submodule "airbnb-clone-reviews-module"]
	path = airbnb-clone-reviews-module
	url = https://github.com/BedandBreakfastClub/airbnb-clone-reviews-module.git
[submodule "airbnb-clone-booking-module"]
	path = airbnb-clone-booking-module
	url = https://github.com/BedandBreakfastClub/airbnb-clone-booking-module.git
[submodule "airbnb-clone-similar-listings-module"]
	path = airbnb-clone-similar-listings-module
	url = https://github.com/BedandBreakfastClub/airbnb-clone-similar-listings-module.git
